.videos {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}
.videos::-webkit-scrollbar {
  height: 0;
}
.containerVideo {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  height: 40%;
  width: 17%;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.infoVideo {
  position: absolute;
  bottom: 0;
  left: 2px;
  color: rgb(237, 242, 246);
  overflow-y: auto;
  height: 15px;
}
.infoVideo::-webkit-scrollbar {
  height: 0;
}

.video video {
  object-fit: fill;
  border-radius: 10px;
}
.genre {
  font-size: xx-small;
  overflow: hidden;
  overflow-y: auto;
  height: 20px;
}
.genre::-webkit-scrollbar {
  height: 0;
}
@media screen and (max-width: 768px) {
  .containerVideo {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    height: 30%;
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
}
