.yourProfile {
  display: grid;
  grid-template-rows: 40% 1fr;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}
.infoProfile {
  display: flex;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  margin-left: 13%;
  margin-top: 7%;
}

.yourCaption {
  margin-left: 20px;
  font-size: small;
  text-align: center;
  color: rgb(196, 89, 89);
}
.yourInfo {
  margin-left: 20px;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.modifyInfo {
  display: flex;
  color: blue;
}
.yourHistory {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 35px;
}
.videoCategory {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
  padding-bottom: 7px;
  cursor: pointer;
}
.underText {
  border-bottom: 2px solid black;
}
.yourVideos {
  height: 100%;
  width: 100%;
}
.profileAvatar {
  width: 170px;
  height: 170px;
  font-size: large;
}

@media screen and (max-width: 768px) {
  .yourProfile {
    grid-template-rows: 50% 1fr;
  }
  .yourInfo {
    font-size: 10px;
  }
  .profileAvatar {
    width: 100px;
    height: 100px;
    font-size: small;
  }
}
