.DefaultLayout {
  height: 100vh;
  display: grid;
  grid-template-rows: 4rem 1fr;
}
.header {
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 10rem 1fr;
  height: calc(100vh - 64px);
}
.content {
  height: calc(100vh - 64px);
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 1071px) {
  .container {
    grid-template-columns: 3em 1fr;
  }
}
@media screen and (max-width: 493px) {
  .content {
    height: calc(-200px + 100vh);
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
